.textUpdaterNode {
  padding: 12px 0px;
  /* border-radius: 8px; */
  width: 220px;
  font-size: 16px;
  color: #222;
  text-align: center;
  /* border-width: 2px;
  border-style: solid;
  border-color: #1a192b;
  background-color: white; */

  background: #eee;
  border: 2px solid #555;
  border-radius: 5px;
}

.textUpdaterNodeWarning {
  padding: 12px 0px;
  /* border-radius: 8px; */
  width: 220px;
  font-size: 16px;
  color: #222;
  text-align: center;
  border-width: 2px;
  /* border-style: solid;
  border-color: #fadb14;
  background-color: #feffe6; */

  background: #fffbe6;
  border: 2px solid #faad14;
  border-radius: 5px;
}

.textUpdaterNodeError {
  padding: 12px 0px;
  /* border-radius: 8px; */
  width: 220px;
  font-size: 16px;
  color: #222;
  text-align: center;
  border-width: 2px;
  /* border-style: solid;
  border-color: #f5222d;
  background-color: #fff1f0; */

  background: #fff2e8;
  border: 2px solid #fa541c;
  border-radius: 5px;
}

.contentPopover p {
  margin: 0;
}

.contentPopoverText {
  color: #222;
}
.contentPopoverTextError {
  color: #f5222d;
}

.antdSelect {
  width: 180px;
}

.antdIcon {
  margin: 0px 0px 0px 7px;
  font-size: 18px;
}

.antdButton {
  width: 200px;
  margin: 3px 0px 6px 0px;
}
